<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Services</title>
     <style>
         td, th {
    border: 1px solid #777;
    padding: 0.5rem;
    text-align: center;
}

table {
    border-collapse: collapse;
}

tbody tr:nth-child(odd) {
    background: #eee;
}
caption {
    font-size: 0.8rem;
}

</style>
    <h1>Services available this week</h1>
</head>
<body>

<form action="/salon/services/" method="get">

    <div>
          <table style="width:60%">
        <tr>
            <th>Service</th>
            <th>Takes time</th>
            <th>Price</th>
        </tr>

        {% for service in unique_services_dict %}

        <tr>
        <td>{{ service.name }}</td>
            <td>{{ service.time }}</td>
            <td>{{ service.price }}</td>

        </tr>
{% endfor -%}
          </table>>
    </div>
</form>

</body>
</html>